@import url(vars.css);

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
  margin-bottom: 0.8em;
}

p:last-of-type {
  margin-bottom: 0;
}

h1 {
  margin-bottom: 10px;
}

a:hover {
  color: var(--water);
  cursor: pointer;
}

.center {
  text-align: center;
}
