@media screen {
  .screensaver {
    height: 200px;
    width: 100%;
    object-fit: cover;
    margin: 10px 0 20px;
  }
}

@media screen and (min-width: 800px) {
  .screensaver {
    height: 400px;
  }
}
