@import url(../../../css-global/vars.css);

@media screen {
  .big-nav {
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .big-navbox {
    padding: 10px;
    width: 300px;
    margin: auto;
    border-radius: 5px;
  }

  .big-navbox:hover {
    color: inherit;
    background-color: var(--rock);
  }

  .bnb-title {
    text-align: center;
  }

  .bnb-icon {
    text-align: center;
    font-size: 50px;
  }
}

@media screen and (min-width: 600px) {
  .big-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    column-gap: 10px;
    row-gap: 30px;
    max-width: 600px;
    margin: 25px auto;
  }

  .big-navbox {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
